[submodule "tmux/plugins/tmux-resurrect"]
	path = tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule "vim/plugins/bundle/YouCompleteMe"]
	path = vim/plugins/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "vim/plugins/bundle/robotframework-vim"]
	path = vim/plugins/bundle/robotframework-vim
	url = https://github.com/mfukar/robotframework-vim.git
[submodule "vim/plugins/bundle/syntastic"]
	path = vim/plugins/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "vim/plugins/bundle/vim-pathogen"]
	path = vim/plugins/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
